<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
     <ion-buttons slot = "primary">
      <button ion-button (click)="addNewAccidentMark()" ><ion-img class = "images" src="../../assets/Images/Markers/yellow_MarkerA.png" title="Accident"></ion-img></button>
      <button ion-button (click)="addNewPotholeMark()" ><ion-img class = "images" src="../../assets/Images/Markers/orange_MarkerP.png" title="PotHole"> </ion-img></button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-checkbox color = "primary" id = "potholeCB" (click) = "toggleCheckbox($event)" ></ion-checkbox>
      <img src = "../../assets/Images/Markers/orange_MarkerP.png" title = "View all potholes from the past month">
    </ion-item>
  </ion-list>
      <div #map id="map" >
      </div>
      
</ion-content>