<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
     <ion-buttons slot = "primary">
      <button ion-button (click)="addNewAccidentMark()" ><ion-img class = "images" src="../../assets/Images/Markers/yellow_MarkerA.png" title="Accident"></ion-img></button>
      <button ion-button (click)="addNewPotholeMark()" ><ion-img class = "images" src="../../assets/Images/Markers/orange_MarkerP.png" title="PotHole"> </ion-img></button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" placeholder = "Enter location: " ></ion-searchbar>
    <ion-button (click) = "searchPlace(search)">Go</ion-button>
</ion-toolbar>

<ion-list>
  <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
</ion-list> 
</ion-header>

<ion-content>

  <div id="floating-panel">
    <ion-item>
      <ion-checkbox color = "primary" id = "potholeCB" (click) = "toggleCheckbox($event)" ></ion-checkbox>
      <ion-img class="pMark" src = "../../assets/Images/Markers/yellow_MarkerA.png" title = "View potholes from past two weeks"></ion-img>
    </ion-item>
  </div>
  <div #map id="map" ></div>
      
</ion-content>