<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
     <ion-buttons slot = "primary">
      <button ion-button (click)="addNewAccidentMark()" ><ion-img src="../../assets/Images/Markers/yellow_MarkerA.png" title="Accident"></ion-img></button>
      <button ion-button (click)="addNewPotholeMark()" ><ion-img src="../../assets/Images/Markers/orange_MarkerP.png" title="PotHole"> </ion-img></button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-button class="filter-buttons" ion-button z-index = "1000" item-end>Filter</ion-button>
      <div #map id="map" >
      </div>
      
</ion-content>